/*scroll horizontal*/
* {
    overflow-x: hidden;
}
/* Body */
#body{
    background-color: #000000;
    overflow: hidden;

}
/* Navbar */
.ícononavbar {
     margin-left: 10em;
}
.bg-transparente{
    background-color: transparent;
    color: #ffff;
}

.navbar-brand {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #ffff;
}

#contenedornavbarderecha {
    font-family: 'PT Sans Narrow', sans-serif;
}
/* Carrusel*/
.carousel-inner{
    width: 100%;
}

/* Después del carrusel*/
.despuésdelcarrusel{
    background-color: #000000;
}
.líneadivisora{
    background-color: #000000;
    padding-left: 3em;
}
/* Quíenes somos*/ 
.quienésomos{
    background-color: #000000;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #ffff;
    font-size: 2em;
    text-align: center;
    padding-bottom: 2em;
    padding-top: 2em;
}
.containerparrafos{
    background-color: #000000; 
    font-family: 'PT Sans Narrow', sans-serif;
    color: #ffff;
    font-size: 1em;
}
.iconoplane{
 background-color: #5dc1b9;
 color: #ffff;
 width: 3em;
 padding: 1em;
 padding-left: 140px;
 padding-right: 140px;
 font-size: 150%;
 margin: 0 auto;
 margin-right: 10px;
 
}
.iconomountain{
    background-color: #5dc1b9;
    color: #ffff;
    width: 3em;
    padding: 1em;
    padding-left: 140px;
    padding-right: 140px;
    font-size: 150%;
    margin: 0 auto;
    margin-right: 10px;
}
.iconoroute{
    background-color: #5dc1b9;
    color: #ffff;
    width: 3em;
    padding: 1em;
    padding-left: 140px;
    padding-right: 140px;
    font-size: 150%;
    margin: 0 auto;
    margin-right: 10px;
}
/* Destacados*/ 
.text-center{
    background-color: #000000;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #ffff;
    font-size: 2em;
    margin-top: 0em;
    overflow: hidden;
}

/* Destacados */
.card-img-top{
    width: 100%;
    height: 10em;
}
.títulocards{
    overflow: hidden;
    font-family: 'PT Sans Narrow', sans-serif; 
}
.card-text{
    font-family: 'PT Sans Narrow', sans-serif; 
}
/* Contacto*/
#contacto{
font-family: 'PT Sans Narrow', sans-serif;   
color: #ffff;
}
.contactotitulo{
    text-align: center;
    overflow: hidden;
}
#btn-contactar{
    color: #ffff;
    background-color:#54B4D3 ;
}
/* Footer*/

.títulofooter{
    padding-top: 1em;
    overflow: hidden;
    padding-left: 10em;
    color: #ffff;
}
#footer{
    background-color: #54B4D3;
}
.íconosfooter{
  width: 3em;  
}